[IdentityDomain]
# Enter your IAM GUID here
iam_guid=<your-iam-guid-here>

[OCIConfig]
cli_profile=DEFAULT

[WIFConfig]
admin_app_name=AdminClient
token_Exchange_app_name=TokenExchangeClient

[ServiceUserConfig]
user_name=ServiceUser

[TrustConfiguration]
issuer=<your-oauth-issuer-url>         ; e.g., https://example.com/oauth2/v1/token
jwk_uri=<your-jwk-uri>                 ; e.g., https://example.com/oauth2/v1/keys
impersonationrule=<your-rule>          ; e.g., allow:all or specify rule